<section id="education" class="py-5" data-aos="fade-right">

    <div class="container">

        <h2 class="text-center fw-bold mb-5">
            Education
        </h2>


        <div class="row justify-content-center">


            <% education.forEach(edu => { %>


                <div class="col-lg-8 mb-4">


                    <div class="card education-card shadow border-0"
                    data-aos="fade-up">


                        <div class="card-body p-4">


                            <div class="d-flex justify-content-between flex-wrap">


                                <div>

                                    <h3 class="fw-bold">
                                        <%= edu.degree %>
                                    </h3>


                                    <h5 class="text-primary">
                                        <%= edu.institution %>
                                    </h5>

                                </div>


                                <div>

                                    <span class="badge bg-dark">
                                        <%= edu.startYear %> -
                                        <%= edu.endYear %>
                                    </span>

                                </div>


                            </div>



                            <hr>



                            <p>
                                <strong>Field:</strong>
                                <%= edu.fieldOfStudy %>
                            </p>



                            <p>
                                📍 <%= edu.location %>
                            </p>



                            <% if(edu.grade){ %>

                                <p>
                                    <strong>Grade:</strong>
                                    <%= edu.grade %>
                                </p>

                            <% } %>




                            <% if(edu.description){ %>

                                <h5 class="mt-4">
                                    Highlights
                                </h5>


                                <ul>


                                    <% edu.description.forEach(item => { %>


                                        <li>
                                            <%= item %>
                                        </li>


                                    <% }) %>


                                </ul>


                            <% } %>


                        </div>


                    </div>


                </div>


            <% }) %>


        </div>


    </div>


</section>