<section id="experience" class="py-5" data-aos="fade-left">

    <div class="container">

        <h2 class="text-center fw-bold mb-5">
            Experience
        </h2>


        <div class="row justify-content-center">


            <% experiences.forEach(exp => { %>


                <div class="col-lg-8 mb-4">


                    <div class="card experience-card shadow border-0"
                    data-aos="fade-up">

                        <div class="card-body p-4">


                            <div class="d-flex justify-content-between flex-wrap">


                                <div>

                                    <h3 class="fw-bold">
                                        <%= exp.role %>
                                    </h3>


                                    <h5 class="text-primary">
                                        <%= exp.companyName %>
                                    </h5>

                                </div>



                                <div>

                                    <span class="badge bg-dark">
                                        <%= exp.employmentType %>
                                    </span>

                                </div>


                            </div>



                            <hr>



                            <p>
                                📍 <%= exp.location %>
                            </p>



                            <p>
                                <strong>Duration:</strong>

                                <%= exp.startDate.toDateString() %>

                                -

                                <%= exp.endDate.toDateString() %>

                            </p>



                            <h5 class="mt-4">
                                Responsibilities
                            </h5>


                            <ul>


                                <% exp.description.forEach(item => { %>


                                    <li>
                                        <%= item %>
                                    </li>


                                <% }) %>


                            </ul>




                            <h5 class="mt-4">
                                Technologies
                            </h5>


                            <div>


                                <% exp.technologies.forEach(tech => { %>


                                    <span class="badge tech-badge">
                                        <%= tech %>
                                    </span>


                                <% }) %>


                            </div>


                        </div>


                    </div>


                </div>


            <% }) %>


        </div>


    </div>


</section>