<section id="projects" class="py-5" data-aos="fade-up">

    <div class="container">

        <h2 class="text-center fw-bold mb-5">
            My Projects
        </h2>


        <div class="row">


            <% projects.forEach(project => { %>


                <div class="col-lg-6 mb-4">


                    <div class="card project-card shadow border-0 h-100" data-aos="zoom-in">


                        <!-- Project Image -->

                        <img 
                        src="<%= project.image.url %>"
                        class="card-img-top"
                        alt="<%= project.projectName %>">



                        <div class="card-body">


                            <!-- Category -->

                            <span class="badge bg-primary mb-3">
                                <%= project.category %>
                            </span>



                            <!-- Title -->

                            <h3 class="fw-bold">
                                <%= project.projectName %>
                            </h3>



                            <!-- Description -->

                            <p>
                                <%= project.description %>
                            </p>



                            <!-- Technologies -->

                            <div class="mb-3">


                                <% project.technologies.forEach(tech => { %>


                                    <span class="badge tech-badge">
                                        <%= tech %>
                                    </span>


                                <% }) %>


                            </div>



                            <!-- Buttons -->


                            <a 
                            href="/projects/<%= project._id %>"
                            class="btn btn-primary me-2">

                                View Project

                            </a>



                            <% if(project.githubLink){ %>

                                <a 
                                href="<%= project.githubLink %>"
                                target="_blank"
                                class="btn btn-dark">

                                    GitHub

                                </a>


                            <% } %>



                        </div>


                    </div>


                </div>


            <% }) %>


        </div>


    </div>


</section>