    <!-- Projects -->

    <section id="projects" class="py-5">

    <div class="container">

        <h2 class="text-center mb-5">Projects</h2>

        <div class="row">

            <% projects.forEach(project => { %>

                <div class="col-lg-6 mb-4">

                    <div class="card h-100 shadow">

                        <img
                            src="<%= project.image %>"
                            class="card-img-top"
                            alt="<%= project.projectName %>">

                        <div class="card-body">

                            <h4>
                                <%= project.projectName %>
                            </h4>

                            <p>
                                <%= project.description %>
                            </p>

                            <a
                                href="/projects/<%= project._id %>"
                                class="btn btn-primary">

                                View Project

                            </a>

                        </div>

                    </div>

                </div>

            <% }) %>

        </div>

    </div>

</section>
