<%- include("../includes/head", { title: "Prem Nikam | Portfolio" }) %>

<% if(success.length){ %>

<div class="alert alert-success text-center">

<%= success %>

</div>

<% } %>



<% if(error.length){ %>

<div class="alert alert-danger text-center">

<%= error %>

</div>

<% } %>

<%- include("../includes/navbar") %>

<%- include("../includes/hero") %>

<%- include("../includes/about") %>

<%- include("../includes/skills") %>

<%- include("../includes/projects") %>

<%- include("../includes/experience") %>

<%- include("../includes/education") %>

<%- include("../includes/contact") %>

<%- include("../includes/footer") %>